In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_column", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_row", None)
pd.set_option("display.float_format", lambda x: "%.2f" %x)
plt.style.use('ggplot')
plt.rcParams['font.size'] = 10

In [3]:
df = pd.read_csv("countryContinent.csv")
df.shape

(249, 9)

In [4]:
df.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.00,34.00
1,�land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.00,154.00
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.00,39.00
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.00,15.00
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.00,61.00

In [6]:
df.sub_region.unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Middle Africa', 'Caribbean', nan,
       'South America', 'Western Asia', 'Australia and New Zealand',
       'Western Europe', 'Eastern Europe', 'Central America',
       'Western Africa', 'Northern America', 'Southern Africa',
       'South-Eastern Asia', 'Eastern Africa', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [7]:
sub_region = (df.sub_region == 'Southern Asia')
df.country[sub_region].to_list()

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'India',
 'Iran (Islamic Republic of)',
 'Maldives',
 'Nepal',
 'Pakistan',
 'Sri Lanka']

In [8]:
df.nunique()

country            249
code_2             248
code_3             249
country_code       249
iso_3166_2         249
continent            5
sub_region          22
region_code          5
sub_region_code     22
dtype: int64

In [9]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas', nan],
      dtype=object)

In [10]:
df.continent.value_counts()

Africa      58
Americas    55
Asia        51
Europe      51
Oceania     25
Name: continent, dtype: int64

In [11]:
df.isnull().sum()

country            0
code_2             1
code_3             0
country_code       0
iso_3166_2         0
continent          9
sub_region         9
region_code        9
sub_region_code    9
dtype: int64

In [12]:
df.columns

Index(['country', 'code_2', 'code_3', 'country_code', 'iso_3166_2',
       'continent', 'sub_region', 'region_code', 'sub_region_code'],
      dtype='object')

In [13]:
# ['Algeria','Angola','Benin','Botswana','Burkina Faso','Burundi','Cameroon','Cabo Verde',
#  'Central African Republic','Chad','Comoros','Congo','Congo (Democratic Republic of the)',
#  "C�te d'Ivoire",'Djibouti','Egypt','Equatorial Guinea','Eritrea','Ethiopia','Gabon',
#  'Gambia','Ghana','Guinea','Guinea-Bissau','Kenya','Lesotho','Liberia','Libya','Madagascar',
#  'Malawi','Mali','Mauritania','Mauritius','Mayotte','Morocco','Mozambique','Namibia',
#  'Niger','Nigeria','R�union','Rwanda','Saint Helena, Ascension and Tristan da Cunha',
#  'Sao Tome and Principe','Senegal','Seychelles','Sierra Leone','Somalia','South Africa',
#  'South Sudan','Sudan','Swaziland','Tanzania, United Republic of','Togo','Tunisia',
#  'Uganda','Western Sahara','Zambia','Zimbabwe']

In [14]:
continent = (df.continent == "Africa")
df.country[continent].to_list()

['Algeria',
 'Angola',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Cabo Verde',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo',
 'Congo (Democratic Republic of the)',
 "C�te d'Ivoire",
 'Djibouti',
 'Egypt',
 'Equatorial Guinea',
 'Eritrea',
 'Ethiopia',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'R�union',
 'Rwanda',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Sao Tome and Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Sudan',
 'Swaziland',
 'Tanzania, United Republic of',
 'Togo',
 'Tunisia',
 'Uganda',
 'Western Sahara',
 'Zambia',
 'Zimbabwe']

In [15]:
Africa = ['Algeria','Angola','Benin','Botswana','Burkina Faso','Burundi','Cameroon','Cabo Verde',
 'Central African Republic','Chad','Comoros','Congo','Congo (Democratic Republic of the)',
 "C�te d'Ivoire",'Djibouti','Egypt','Equatorial Guinea','Eritrea','Ethiopia','Gabon',
 'Gambia','Ghana','Guinea','Guinea-Bissau','Kenya','Lesotho','Liberia','Libya','Madagascar',
 'Malawi','Mali','Mauritania','Mauritius','Mayotte','Morocco','Mozambique','Namibia','Niger',
 'Nigeria','R�union','Rwanda','Saint Helena, Ascension and Tristan da Cunha','Sao Tome and Principe',
 'Senegal','Seychelles','Sierra Leone','Somalia','South Africa','South Sudan','Sudan','Swaziland',
 'Tanzania, United Republic of','Togo','Tunisia','Uganda','Western Sahara','Zambia','Zimbabwe']

In [16]:
continent = (df.continent == "Asia")
df.country[continent].to_list()

['Afghanistan',
 'Armenia',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Bhutan',
 'Brunei Darussalam',
 'Cambodia',
 'China',
 'Cyprus',
 'Georgia',
 'Hong Kong',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Israel',
 'Japan',
 'Jordan',
 'Kazakhstan',
 "Korea (Democratic People's Republic of)",
 'Korea (Republic of)',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Lebanon',
 'Macao',
 'Malaysia',
 'Maldives',
 'Mongolia',
 'Myanmar',
 'Nepal',
 'Oman',
 'Pakistan',
 'Palestine, State of',
 'Philippines',
 'Qatar',
 'Saudi Arabia',
 'Singapore',
 'Sri Lanka',
 'Syrian Arab Republic',
 'Taiwan, Province of China',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Turkey',
 'Turkmenistan',
 'United Arab Emirates',
 'Uzbekistan',
 'Viet Nam',
 'Yemen']

In [17]:
Asia = ['Afghanistan','Armenia','Azerbaijan','Bahrain','Bangladesh','Bhutan','Brunei Darussalam','Cambodia',
        'China','Cyprus','Georgia','Hong Kong','India','Indonesia','Iran (Islamic Republic of)','Iraq',
        'Israel','Japan','Jordan','Kazakhstan',"Korea (Democratic People's Republic of)",'Korea (Republic of)',
        'Kuwait','Kyrgyzstan',"Lao People's Democratic Republic",'Lebanon','Macao','Malaysia','Maldives',
        'Mongolia','Myanmar','Nepal','Oman','Pakistan','Palestine, State of','Philippines','Qatar','Saudi Arabia',
        'Singapore','Sri Lanka','Syrian Arab Republic','Taiwan, Province of China','Tajikistan','Thailand',
        'Timor-Leste','Turkey','Turkmenistan','United Arab Emirates','Uzbekistan','Viet Nam','Yemen']

In [18]:
continent = (df.continent == "Europe")
df.country[continent].to_list()

['�land Islands',
 'Albania',
 'Andorra',
 'Austria',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Faroe Islands',
 'Finland',
 'France',
 'Germany',
 'Gibraltar',
 'Greece',
 'Guernsey',
 'Holy See',
 'Hungary',
 'Iceland',
 'Ireland',
 'Isle of Man',
 'Italy',
 'Jersey',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia (the former Yugoslav Republic of)',
 'Malta',
 'Moldova (Republic of)',
 'Monaco',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russian Federation',
 'San Marino',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Svalbard and Jan Mayen',
 'Sweden',
 'Switzerland',
 'Ukraine',
 'United Kingdom of Great Britain and Northern Ireland']

In [19]:
Europe = ['�land Islands','Albania','Andorra','Austria','Belarus','Belgium','Bosnia and Herzegovina','Bulgaria',
 'Croatia','Czech Republic','Denmark','Estonia','Faroe Islands','Finland','France','Germany','Gibraltar',
 'Greece','Guernsey','Holy See','Hungary','Iceland','Ireland','Isle of Man','Italy','Jersey','Latvia',
 'Liechtenstein','Lithuania','Luxembourg','Macedonia (the former Yugoslav Republic of)','Malta',
 'Moldova (Republic of)','Monaco','Montenegro','Netherlands','Norway','Poland','Portugal''Romania',
 'Russian Federation','San Marino','Serbia','Slovakia','Slovenia','Spain','Svalbard and Jan Mayen',
 'Sweden','Switzerland','Ukraine','United Kingdom of Great Britain and Northern Ireland']

In [20]:
continent = (df.continent == "Americas")
df.country[continent].to_list()

['Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Aruba',
 'Bahamas',
 'Barbados',
 'Belize',
 'Bermuda',
 'Bolivia (Plurinational State of)',
 'Bonaire, Sint Eustatius and Saba',
 'Brazil',
 'Canada',
 'Cayman Islands',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Cura�ao',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Falkland Islands (Malvinas)',
 'French Guiana',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guyana',
 'Haiti',
 'Honduras',
 'Jamaica',
 'Martinique',
 'Mexico',
 'Montserrat',
 'Nicaragua',
 'Panama',
 'Paraguay',
 'Peru',
 'Puerto Rico',
 'Saint Barth�lemy',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Sint Maarten (Dutch part)',
 'Suriname',
 'Trinidad and Tobago',
 'Turks and Caicos Islands',
 'United States of America',
 'Uruguay',
 'Venezuela (Bolivarian Republic of)',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)']

In [21]:
Americas = ['Anguilla','Antigua and Barbuda','Argentina','Aruba','Bahamas','Barbados','Belize','Bermuda',
 'Bolivia (Plurinational State of)','Bonaire, Sint Eustatius and Saba','Brazil','Canada','Cayman Islands',
 'Chile','Colombia','Costa Rica','Cuba','Cura�ao','Dominica','Dominican Republic','Ecuador','El Salvador',
 'Falkland Islands (Malvinas)','French Guiana','Greenland','Grenada','Guadeloupe','Guatemala','Guyana','Haiti',
 'Honduras','Jamaica','Martinique','Mexico','Montserrat','Nicaragua','Panama','Paraguay','Peru','Puerto Rico',
 'Saint Barth�lemy','Saint Kitts and Nevis','Saint Lucia','Saint Martin (French part)',
 'Saint Pierre and Miquelon','Saint Vincent and the Grenadines','Sint Maarten (Dutch part)','Suriname',
 'Trinidad and Tobago','Turks and Caicos Islands','United States of America','Uruguay',
 'Venezuela (Bolivarian Republic of)','Virgin Islands (British)','Virgin Islands (U.S.)']

In [22]:
continent = (df.continent == "Oceania")
df.country[continent].to_list()

['American Samoa',
 'Australia',
 'Cook Islands',
 'Fiji',
 'French Polynesia',
 'Guam',
 'Kiribati',
 'Marshall Islands',
 'Micronesia (Federated States of)',
 'Nauru',
 'New Caledonia',
 'New Zealand',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands',
 'Palau',
 'Papua New Guinea',
 'Pitcairn',
 'Samoa',
 'Solomon Islands',
 'Tokelau',
 'Tonga',
 'Tuvalu',
 'Vanuatu',
 'Wallis and Futuna']

In [23]:
Oceania = ['American Samoa','Australia','Cook Islands','Fiji','French Polynesia','Guam','Kiribati',
 'Marshall Islands','Micronesia (Federated States of)','Nauru','New Caledonia','New Zealand',
 'Niue','Norfolk Island','Northern Mariana Islands','Palau','Papua New Guinea','Pitcairn',
 'Samoa','Solomon Islands','Tokelau','Tonga','Tuvalu','Vanuatu','Wallis and Futuna']

In [24]:
df.sub_region.unique()

array(['Southern Asia', 'Northern Europe', 'Southern Europe',
       'Northern Africa', 'Polynesia', 'Middle Africa', 'Caribbean', nan,
       'South America', 'Western Asia', 'Australia and New Zealand',
       'Western Europe', 'Eastern Europe', 'Central America',
       'Western Africa', 'Northern America', 'Southern Africa',
       'South-Eastern Asia', 'Eastern Africa', 'Eastern Asia',
       'Melanesia', 'Micronesia', 'Central Asia'], dtype=object)

In [25]:
cond = (df.country== Asia)
df.groupby("sub_region")[cond].to_list()

ValueError: ('Lengths must match to compare', (249,), (51,))